<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/main.css">
  <script type="text/javascript" src="/js/main.bundle.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  
  <link rel="canonical" href="https://savetwittervideo.me">
  <meta name="description" content="Download Videos from twitter. Copy link to twitter post, paste it in the box below & click the download button to download immediately.">
  <meta name="keyword"  content="Download, Twitter, Twitter Download">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@save_video">
  <meta property="og:url" content="https://www.savetwittervideo.me/">
  <meta property="og:title" content="Download Twitter Videos" />
 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title><%= screen_name%>'s videos</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-80337204-2');
  </script>

  <script data-ad-client="ca-pub-2203418581094896" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Hotjar Tracking Code for www.savetwittervideo.me -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1899739,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


</head>

<body class="pt-sm-5 pt-10">
  <header class="bg-primary fixed-top">
    <div class="container">
      <nav class="navbar  navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">SaveTwitterVideo</a>
        <form class="form-inline my-2 my-lg-0" method="POST" action="/downloads">
          <input id="screen_name" class="form-control mr-sm-2" type="search" name="screen_name"
            placeholder="Enter Twitter screen name" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

      </nav>
    </div>
  </header>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-12">
        <h2 class="" style='color:#eb9316'>@<%= screen_name%>'s videos</h2>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- top ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
          data-ad-slot="6713495937" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

    </div>


    <div class="row">
      <div class="col-sm-9 col-12">
        <div class="card-columns">
          <% results.forEach(function(result){ %>


          <div class="card">
            <div class="card-img">
              <video width="100%" class="embed-responsive-item" controls>
                <%result.media.forEach(function(media){%>
                <source src="<%= media.url %>" type="<%= media.content_type%>">
                <%})%>
              </video>
            </div>
            <div class="card-body">
              <p class="card-text"><small class="text-muted"><%= result.generated_date%></small></p>
              <a href="<%= result.media[0].url%>" style="color: #fff;"
                class="btn btn-warning rounded-circle float-right" download><i class="fas fa-arrow-down"></i></a>
              <div class="float-none">.</div>
            </div>
          </div>

          <div class="card">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- card ad -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
              data-ad-slot="5500147305" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>


          <% }); %>
        </div>
      </div>
      <div class="col-sm-3 col-12">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- right ads -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2203418581094896"
          data-ad-slot="6034854995" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</body>

</html>