<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <script type="text/javascript" src="/js/main.bundle.js"></script>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="canonical" href="https://savetwittervideo.me" />
    <meta
      name="description"
      content="Looking for how to download twitter video(s) on your android, iphone or desktop devices. Copy link to twitter post, paste it in the box below & click the download button to download immediately."
    />
    <meta
      name="keyword"
      content="Download, Twitter, Twitter Download, download twitter video(s)"
    />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@save_video" />
    <meta property="og:url" content="https://www.savetwittervideo.me/" />
    <meta property="og:title" content="Download Twitter Videos" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title><%= screen_name%>'s videos | Download Twitter video(s)</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-80337204-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-80337204-2");
    </script>

    <!-- Adsense -->
    <script data-ad-client="ca-pub-1777874148390854" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Hotjar Tracking Code for www.savetwittervideo.me -->
    <script>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 1899739, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
  </head>

  <body class="pt-sm-5 pt-10">
    <header class="bg-primary fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">SaveTwitterVideo</a>
          <form
            class="form-inline my-2 my-lg-0"
            method="POST"
            action="/downloads"
          >
            <input
              id="screen_name"
              class="form-control mr-sm-2"
              type="search"
              name="screen_name"
              placeholder="Enter Twitter screen name"
              aria-label="Search"
            />
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
              Find my downloads
            </button>
          </form>
        </nav>
      </div>
    </header>
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12">
          <h2 class="" style="color: #eb9316">@<%= screen_name%>'s videos</h2>
          <p class="text-sm-left text-muted">
            <i class="fas fa-eye"></i> Showing downloads in the last 48 hours.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a
            class="ads_custom"
            href="https://www.amazon.com/Song-Six-Seasons-Chilota-Nwabuoku/dp/9789855389/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1612477506&sr=1-6#detailBullets_feature_div"
            >
            <video loop="true" autoplay="autoplay" id="vid" muted>
              <source src="/video/videoAds.mp4" />
            </video>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-12">
          <% if(results.length) { %> <% results.forEach(function(result, index){
          %>

          <div class="card">
            <!-- <video>
              <source
                type="<%=result.media[0].content_type%>"
                src="<%=result.media[0].url%>"
              />
            </video> -->
            <div class="card-body">
              <!-- <blockquote class="blockquote">
                <p class="card-text"><%= result.text%></p>
              </blockquote> -->

              <a target="_blank" class="btn btn-primary" href="<%= result.media[0].url%>">
                View Video
              </a>
              <a

                target="_blank"
                href="/downloads?URL=<%= result.media[0].url%>"
                style="color: #fff"
                class="btn btn-warning float-right"
                download
                ><i class="fas fa-arrow-down"></i>&nbsp; Download</a
              >
              <br /><br />
              <p class="card-text">
                <small class="text-muted"><%= result.generated_date%></small>
              </p>
            </div>
          </div>
          <!-- <% if(index%2 == 0) {%>
         
          <% }%>  -->
          <% }); %> 
          <% } else { %>

          <p style="font-size: 30px; text-align: center">
            <i class="fas fas-ban"></i>
          </p>
          <h3 style="text-align: center">
            No Downloads at the moment! Check back later
          </h3>
          <% } %>
        </div>
      </div>
    </div>
    <script>window.savetweetSource = "downloads"</script>
    <script src="/js/ads.js"></script>
  </body>
</html>
